.kurka button {
    padding: 20px 30px 20px 30px;
    background-color: pink;
    border-width: 2px;
    border-radius:20px;
    border-color:magenta;
}
.kurka {
    position: absolute;
    bottom: 325px;
    left:715px;
}

#kurkaNo {
    margin-left: 20px;
}

body {
    background-image: url('valentine-background.png');
    background-size: cover;
}

#question {
    position:absolute;
    top: 275px;
    left:580px;
    z-index: 99999;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#stitch {
    width: min(300px, 70vw);
    height:auto;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    gap: 20px;
}

@media (max-width: 600px) {
    #stitch {
        width:80vw;
    }
    #question {
        font-size: 20px;
    }

    button {
        width: 70%;
    }
}
